# copy this file to src/.env and set some custom environment variables and secrets for local development
# important values to set for local development
OTEL_SERVICE_NAME="debug"
LOCAL_DEVELOPMENT=true
# use azurite emulator for local development
AZURE_STORAGE_CONNECTION_STRING= "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;"

# optional oauth values, set http://localhost:8000/auth/oauth/github/callback as redirect url in your GitHub oauth app
OAUTH_GITHUB_CLIENT_ID=[your client id]
OAUTH_GITHUB_CLIENT_SECRET=[your client secret]
