# copy this file to src/.env and set some custom environment variables and secrets for local development
OAUTH_GITHUB_CLIENT_ID=[your client id]
OAUTH_GITHUB_CLIENT_SECRET=[your client secret]
OTEL_SERVICE_NAME="debug"
# use azurite emulator for local development
AZURE_STORAGE_CONNECTION_STRING= "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;"
